* {
  font-family: 'Exo', sans-serif;
}
::-moz-selection {
  background: #bbb;
  color: #fff;
}
::selection {
  background: #bbb;
  color: #fff;
}
body {
  background: url("../img/background.jpg");
  background-repeat: repeat;
  margin: 0;
}
#wrapper {
  height: 100vh;
  background: #fff;
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}
header.site-title {
  text-align: center;
  font-size: 2rem;
  color: #bbb;
}
header.site-title h1 {
  margin: 0;
  padding-top: 1rem;
}
section.controls-container {
  padding: 0.3rem 1.2rem;
}
section.controls-container .controls-box {
  text-align: center;
}
section.controls-container .controls-box .controls {
  text-align: center;
  display: inline-block;
  width: 20%;
  padding: 1rem;
  margin: 0.5rem 0.4rem;
}
section.controls-container .controls-box .controls .controls-info button {
  outline: none;
  border: none;
  box-shadow: 3px 3px 5px -3px #000;
  cursor: pointer;
  background: none;
  -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
          transform: translateY(-30%);
  text-align: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
section.controls-container .controls-box .controls .controls-info .controls-value {
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
section.main .timer-box {
  margin: 0 auto;
  text-align: center;
}
section.main .timer-box button#startStop {
  outline: none;
  border: none;
  box-shadow: 3px 3px 5px -3px #000;
  cursor: pointer;
  background: none;
  width: 100px;
  padding: 0.4rem;
  font-size: 1.3rem;
  font-weight: 100;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
